<app-navbar></app-navbar>
<div class="container d-flex flex-column">

  <h3 class="text-center mt-2">List of projects</h3>

  <button class="btn btn-primary ms-auto mt-2" (click)="addProject()">Add project</button>

  <div class="table-responsive mt-3 m-auto w-50">
    <table class="table table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        @for (project of projects; track $index) {
        <tr>
          <td>{{project.id?.substr(0,5)}}</td>
          <td>{{project.name}}</td>
          <td>{{project.description}}</td>
          <td>
            <button class="btn btn-sm btn-danger me-1" (click)="deleteProject(project.id!)">Delete</button>
            <button class="btn btn-sm btn-secondary me-1" (click)="editProject(project)">Edit</button>
            <button class="btn btn-sm btn-success" (click)="goToListTasks(project.id)">tasks</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if(projects.length == 0){
    <p class="text-center ">Without projects</p>
    }
  </div>
</div>
